@page "{id:int}"
@model EditModel

@{
    Layout = null;
}

<tr id="adventure-@Model.Adventure.Id" class="fade-me-in fade-me-out">
    <td colspan="3">
        <form method="post" class="row align-items-center">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <input type="hidden" asp-for="Adventure.Id"/>
            <div class="col">
                <div class="form-floating">
                    <input type="text" class="form-control" asp-for="Adventure.Name" placeholder="@Html.DisplayNameFor(a => a.Adventure.Name)">
                    <label asp-for="Adventure.Name"></label>
                </div>
            </div>
            <div class="col">
                <div class="form-floating">
                    <input type="date" placeholder="@Html.DisplayNameFor(m => m.Adventure.DateStart)" class="form-control" asp-for="Adventure.DateStart">
                    <label asp-for="Adventure.DateStart"></label>
                </div>
            </div>
            <div class="col">
                <div class="form-floating">
                    <textarea class="form-control" placeholder="@Html.DisplayNameFor(m => m.Adventure.Mnemonic)" asp-for="Adventure.Mnemonic"></textarea>
                    <label asp-for="Adventure.Mnemonic"></label>
                </div>
            </div>
            <div class="form-group col" hx-target="closest tr" hx-swap="outerHTML">
                <input type="submit" value="Save" class="btn btn-primary" hx-put="@Url.Page("Edit", new { id = Model.Adventure.Id })"/>
                <a href="#" hx-get="@Url.Page("Index", "Single", new { id = Model.Adventure.Id })" hx-swap="outerHTML swap:200ms settle:200ms">Cancel</a>
            </div>
        </form>
    </td>
</tr>