@page
@model StudentProgress.Web.Pages.StudentGroups.IndexModel

@{
  ViewData["Title"] = "Groups";
}

<h1>Groups Overview</h1>

<p>
  <a asp-page="Create">Create New</a> or
  @if (Model.CanImportGroups)
  {
    <a asp-page="/Canvas/Courses/Index">Import from Canvas</a>
  }
</p>

<table class="table">
  <caption>Overview of groups available</caption>
  <thead>
  <tr>
    <th id="name">
      @Html.DisplayNameFor(model => model.StudentGroups[0].Name)
    </th>
    <th id="mnemonic">
      @Html.DisplayNameFor(model => model.StudentGroups[0].Mnemonic)
    </th>
    <th></th>
  </tr>
  </thead>
  <tbody>
  @foreach (var groupGrouping in Model.StudentGroups.GroupBy(g => g.Period))
  {
    <tr>
      <td class="@(Model.CurrentPeriod == groupGrouping.Key ? "fw-bold" : "text-muted")" colspan="4">@groupGrouping.Key</td>
    </tr>
    @foreach (var item in groupGrouping.ToList())
    {
      <tr>
        <td headers="name">
          <a asp-page="./Details/Index" asp-route-id="@item.Id">@Html.DisplayFor(modelItem => item.Name.Value)</a>
        </td>
        <td headers="mnemonic" class="feedback-text">@Html.DisplayFor(modelItem => item.Mnemonic)</td>
        <td>
          <a asp-page="./Edit" asp-route-id="@item.Id">Edit</a> |
          <a asp-page="./Details/Index" asp-route-id="@item.Id">Details</a> |
          <a asp-page="./Delete" asp-route-id="@item.Id">Delete</a>
        </td>
      </tr>
    }
  }
  </tbody>
</table>