@model StudentProgress.Core.Models.Objective

@{
    string objectiveClass = $"objective-{Model.Id}";
}

<li class="list-box objective-@(Model.Id)" style="--objective-color: @Model.Color">
    <div class="list-box__prefix">
        <form>
            <input type="hidden" name="id" value="@Model.Id"/>
            <button class="progress-add @(objectiveClass)__add-progress"
                    hx-post="@Url.Page("/Objective/Index", "Progress", new { Model.Id })"
                    hx-target="closest li"
                    hx-swap="outerHTML">
                <span>+</span>
                <svg-inject class="loading htmx-indicator" src="images/puff.svg"/>
            </button>
        </form>
    </div>
    <div class="list-box__line-1">@Model.Name</div>
    <div class="list-box__line-2 list-box__line-2--flex-wrap">
        @foreach (var progress in Model.Progresses)
        {
            <div class="progress"></div>
        }
        <div class="progress progress--empty"></div>
        <span asp-validation-for="Id"></span>
    </div>
    <div class="list-box__postfix"></div>
</li>