@page
@model SearchModel
@{
    Layout = null;
}

<ul class="people-list">
    @foreach (var person in Model.People)
    {
        <li class="person">
            <div class="person-info">
                <img src="@(!string.IsNullOrWhiteSpace(person.AvatarPath) ? $"/media/{person.AvatarPath}" : $"/images/avatar-placeholder.png")"
                     class="avatar" alt="@(person.FirstName)">
                <span>@person.FirstName</span>
            </div>
            <ol class="adventure-list">
                @foreach (var adventure in person.Adventures)
                {
                    <li class="adventure">
                        <a class="link" asp-page="/Adventure/Index" asp-route-personId="@person.Id"
                           asp-route-id="@adventure.Id">
                            @adventure.Name
                        </a>
                    </li>
                }
            </ol>
        </li>
    }
</ul>