@page
@model SearchModel
@{
    Layout = null;
}

<ul class="nav__people">
    @foreach (var person in Model.People)
{
    <li>
            <div class="nav__person-info">
                <img src="@(!string.IsNullOrWhiteSpace(person.AvatarPath) ? $"/media/{person.AvatarPath}" : $"/images/avatar-placeholder.png")"
                     class="nav__person-avatar" alt="@(person.FirstName)">
                <span>@person.FirstName</span>
            </div>
            <ol>
                @foreach (var adventure in person.Adventures)
            {
                <li>
                        <a class="nav__adventure-link" asp-page="/AdventureDetails/Index" asp-route-personId="@person.Id"
                           asp-route-id="@adventure.Id">
                            @adventure.Name
                        </a>
                    </li>
            }
            </ol>
        </li>
}
</ul>