@page "{id:int?}"
@model StudentProgress.Web.Pages.Progress.CreateEditModel
@using StudentProgress.Core.Entities
@using StudentProgress.Core.Extensions
@using System.Linq
@{
    ViewData["Title"] = "Add Progress";

    int GetMilestoneProgressIndexOf(Milestone milestone)
    {
        return Model.Progress.Milestones.FindIndex(m => m.MilestoneId == milestone.Id);
    }
}

@section Styles {
    <link rel="stylesheet" href="~/css/progress-create-edit.css">
}

<section id="page-nav">
    <a asp-page="/StudentGroups/Index">Groups</a> >
    <a asp-page="/StudentGroups/Details/Index" asp-route-id="@Model.Group.Id">@Model.Group.Name</a> >
    <a asp-page="./Summary" asp-route-studentId="@Model.Student.Id"
       asp-route-groupId="@Model.Group.Id">
        @Model.Student.Name
    </a> >
    <span>@(Model.Progress.Id == null ? "Add" : "Edit") progress</span>
</section>

<h1 class="test">@Model.Student.Name - @(Model.Progress.Id == null ? "New" : "Update") Progress</h1>
<div asp-validation-summary="All"></div>

<form class="row" method="post" x-data="hotkeyController()" x-init="listenToKeys()" x-on:keyup.ctrl.enter="submit">
    <input type="hidden" asp-for="Progress.Id" />

    <div class="col-12">
        <section id="date">
            <input type="hidden" asp-for="Progress.StudentId" value="@Model.Student.Id" />
            <input type="hidden" asp-for="Progress.GroupId" value="@Model.Group.Id" />
            @*TODO: Remove these two below from the system *@
            <input type="hidden" asp-for="Progress.Feeling" value="@Feeling.Neutral" />
            <input type="hidden" asp-for="Progress.IsReviewed" value="true" />

            <div class="form-group mb-3">
                <label asp-for="Progress.Date"></label>
                <div x-data="{ time: new Date().toLocaleTimeString(undefined, { hour12: false }).replace(/([\d]+:[\d]{2})(:[\d]{2})(.*)/, '$1') }" class="d-flex">
                    <input class="form-control me-3" asp-for="Progress.DateDate" />
                    <input x-model="time" class="form-control" asp-for="Progress.DateTime" asp-format="{0:HH:mm}" />
                </div>
            </div>
        </section>

        <section id="milestones" class="row">
            @if (Model.MilestonesPerLearningOutcome.Any())
            {
                <h3>
                    Milestones
                    <sup>or <a asp-page="/StudentGroups/Details/AddMilestone" asp-route-id="@Model.Group.Id" asp-route-returnUrl="/Progress/CreateEdit?studentId=@Model.Student.Id&groupId=@Model.Group.Id">add a new one</a></sup>
                </h3>

                @foreach (var (milestone, index) in Model.GetResponse.Milestones.WithIndex())
                {
                    <div class="card p-3 @(index == 0 ? "mb-3" : "my-3")">
                        <h4>@milestone.LearningOutcome</h4>
                        <ul class="my-1 px-2" style="list-style-type: none;">
                            @if (Model.MilestoneProgressesPerMilestone.ContainsKey(milestone.Id))
                            {
                                @foreach (var milestoneProgress in Model.MilestoneProgressesPerMilestone[milestone.Id])
                                {
                                    <li class="p-1 border-start border-5 border-dark">
                                        [@milestoneProgress.CreatedDate] <span class="feedback-text">@milestoneProgress.Comment</span>
                                    </li>
                                }
                            }
                        </ul>
                        <p class="text-muted parse-newline">@milestone.Artefact</p>
                        <input type="hidden" name="Progress.Milestones[@GetMilestoneProgressIndexOf(milestone)].MilestoneId" value="@milestone.Id" />
                        <input type="hidden" name="Progress.Milestones[@GetMilestoneProgressIndexOf(milestone)].Id" value="@Model.Progress.Milestones.FirstOrDefault(m => m.MilestoneId == milestone.Id)!.Id" />
                        <textarea class="form-control" placeholder="Comments" rows="1"
                          name="Progress.Milestones[@GetMilestoneProgressIndexOf(milestone)].Comment">@Model.Progress.Milestones[@GetMilestoneProgressIndexOf(milestone)].Comment</textarea>
                    </div>
                }
            }
        </section>

        <section id="feedback">
            <h3>Feedback</h3>
            <p class="form-group">
                <label asp-for="Progress.Feedback"></label>
                <textarea class="form-control" asp-for="Progress.Feedback"></textarea>
            </p>
        </section>

        <p id="save">
            <input class="btn btn-primary" type="submit" value="@(Model.Progress.Id == null ? "Add" : "Update")" />
            <input class="btn btn-primary position-fixed mb-3 ms-3 bottom-0 start-0 d-block d-sm-none floating" type="submit" value="💾" />
        </p>
    </div>
</form>

<a class="d-md-none position-fixed bottom-0 end-0 me-3 mb-3" href="#page-nav">To top</a>