@page
@model StudentProgress.Web.Pages.Progress.IndexModel
@using StudentProgress.Core.Entities;
@{
    ViewData["Title"] = "Progress";

    string ToFeelingBackgroundColor(Feeling feeling)
    {
        switch (feeling)
        {
            case Feeling.Bad:
                return "bg-danger";
            case Feeling.Neutral:
                return "bg-warning";
            case Feeling.Good:
                return "bg-success";
            default:
                return "";
        }
    }
}

@section Styles
{
    <link rel="stylesheet" href="~/css/progress.css"/>
}

<a asp-page="/StudentGroups/Index">Groups</a> >
<a asp-page="/StudentGroups/Details/Index" asp-route-id="@Model.Student.GroupId">@Model.Student.GroupName</a> >
<span>@Model.Student.Name</span>

<h1>@Model.Student.Name</h1>

<a asp-page="./Create" asp-route-studentId="@Model.Student.StudentId" asp-route-groupId="@Model.Student.GroupId">Add Progress</a>

<div class="progress-container position-relative">
    <div id="status-overview" class="progress-timeline list-group">
        @foreach (var progressUpdate in Model.Student.ProgressUpdates)
        {
            <a href="#feedback-@progressUpdate.Id" class="timeline-item list-group-item list-group-item-action @ToFeelingBackgroundColor(progressUpdate.Feeling) mx-4"></a>
        }
    </div>

    <section class="progress-feedback" data-bs-spy="scroll" data-bs-target="#status-overview" data-bs-offset="10">
        @foreach (var progressUpdate in Model.Student.ProgressUpdates)
        {
            <section id="feedback-@progressUpdate.Id" class="card mb-3">
                <h4 class="card-header d-flex align-items-center justify-content-between">
                    <div class="d-flex align-items-center">
                        <div style="display: inline-block; width:25px; height: 25px" class="rounded-circle @ToFeelingBackgroundColor(progressUpdate.Feeling) me-3"></div>
                        @progressUpdate.Date.ToShortDateString()
                    </div>
                    <a class="btn btn-link" asp-page="./Edit" asp-route-id="@progressUpdate.Id">Edit</a>
                </h4>
                <div class="card-body">
                    <section>
                        <h5>Feedback</h5>
                        <p class="feedback-text">@progressUpdate.Feedback</p>
                    </section>
                    <section>
                        <h5>Feedup</h5>
                        <p class="feedback-text">@progressUpdate.Feedup</p>
                    </section>
                    <section>
                        <h5>Feedforward</h5>
                        <p class="feedback-text">@progressUpdate.Feedforward</p>
                    </section>
                </div>
            </section>
        }
    </section>

</div>