@page
@model StudentProgress.Web.Pages.Progress.IndexModel
@using StudentProgress.Core.Entities;
@using StudentProgress.Core.Extensions
@{
    ViewData["Title"] = "Progress";

    string MilestoneRatingColor(Rating rating, int currentIndex)
    {
        if (currentIndex != (int)rating)
        {
            return "light";
        }

        return rating switch
        {
            Rating.Undefined => "dark",
            Rating.Orienting => "danger",
            Rating.Beginning => "warning",
            Rating.Proficient => "success",
            Rating.Advanced => "primary",
            _ => "light"
        };

    }

    string ToFeelingBackgroundColor(Feeling feeling)
    {
        return feeling switch
        {
            Feeling.Bad => "bg-danger",
            Feeling.Neutral => "bg-warning",
            Feeling.Good => "bg-success",
            _ => ""
        };
    }
}

@section Styles
{
    <link rel="stylesheet" href="~/css/progress.css" />
}

<a asp-page="/StudentGroups/Index">Groups</a> >
<a asp-page="/StudentGroups/Details/Index" asp-route-id="@Model.Student.GroupId">@Model.Student.GroupName</a> >
<span>@Model.Student.Name</span>

<h1>@Model.Student.Name</h1>

<section class="d-flex">
<a class="me-3" asp-page="./CreateEdit" asp-route-studentId="@Model.Student.StudentId" asp-route-groupId="@Model.Student.GroupId">Add Progress</a>
<div id="status-overview" class="progress-timeline">
    @foreach (var (progressUpdate, index) in Model.Student.ProgressUpdates.Reverse().WithIndex())
    {
        <a href="#feedback-@progressUpdate.Id" class="timeline-item @ToFeelingBackgroundColor(progressUpdate.Feeling)"></a>
        @if (index == 0 || index == Model.Student.ProgressUpdates.Count() - 1) { 
            <span class="timeline-date text-muted @(index != 0 ? "start-date" : "")">@progressUpdate.Date.ToShortDateString()</span>
        }
    }
</div>
</section>

<div class="progress-container position-relative">
    <section class="progress-feedback">
        @foreach (var progressUpdate in Model.Student.ProgressUpdates)
        {
            <section id="feedback-@progressUpdate.Id" class="card mb-3">
                <h4 class="card-header d-flex align-items-center justify-content-between">
                    <div class="d-flex align-items-center">
                        <div style="display: inline-block; width:25px; height: 25px" class="rounded-circle @ToFeelingBackgroundColor(progressUpdate.Feeling) me-3"></div>
                        @progressUpdate.Date.ToShortDateString()
                    </div>
                    <a class="btn btn-link" asp-page="./CreateEdit" asp-route-groupId="@Model.Student.GroupId" asp-route-studentId="@Model.Student.StudentId" asp-route-id="@progressUpdate.Id">Edit</a>
                </h4>
                <div class="card-body">

                    <div class="row mb-3">
                        @if (!string.IsNullOrEmpty(progressUpdate.Feedback))
                        {
                            <section>
                                <h5>Feedback</h5>
                                <p class="feedback-text">@progressUpdate.Feedback</p>
                            </section>
                        }
                        @if (!string.IsNullOrEmpty(progressUpdate.Feedup))
                        {
                            <section>
                                <h5>Feedup</h5>
                                <p class="feedback-text">@progressUpdate.Feedup</p>
                            </section>
                        }
                        @if (!string.IsNullOrEmpty(progressUpdate.Feedforward))
                        {
                            <section>
                                <h5>Feedforward</h5>
                                <p class="feedback-text">@progressUpdate.Feedforward</p>
                            </section>
                        }
                    </div>

                    <h5>Milestone progress</h5>
                    <div class="row">
                        @if (progressUpdate.MilestoneProgresses.Count() == 0)
                        {
                            <p>No milestones for this update</p>
                        }
                        @foreach (var milestone in progressUpdate.MilestoneProgresses.OrderBy(m => m.LearningOutcome).ThenBy(m => m.Artefact))
                        {
                            <div class="col-sm-12 col-md-4 mb-3">
                                <small class="text-muted">@milestone.LearningOutcome</small>
                                <h6>@milestone.Artefact</h6>
                                <div class="btn-group btn-group-sm" role="group" aria-label="Circustrein">
                                    @for (int i = 1; i <= Enum.GetValues<Rating>().Length; i++)
                                    {
                                        <button type="button" class="btn btn-@MilestoneRatingColor(milestone.Rating, i)" disabled>@i</button>
                                    }
                                </div>
                                <p class="text-muted"><small>@milestone.Comment</small></p>
                            </div>

                        }
                    </div>
                </div>
            </section>
        }
    </section>

</div>