@page
@using Microsoft.AspNetCore.Mvc.TagHelpers
@using StudentProgress.Core.Entities
@model StudentProgress.Web.Pages.Progress.QuickAdd

@{
  ViewData["Title"] = "Quick add";
}

@section Styles
{
  <link rel="stylesheet" href="~/css/quick-add.css">
}

<h1>Quick add</h1>

<form id="groupForm" method="get">
  <p>
    <label for="groupId">Group</label>
    <select class="form-control" id="groupId" name="groupId" asp-items="Model.Groups"></select>
  </p>
</form>

@if (Model.Group != null)
{
  <form method="POST" x-data="{ studentId: null }">
    <div asp-validation-summary="All"></div>
    @Html.HiddenFor(m => m.Command.GroupId)
    @if (Model.Group != null)
    {
      <p>
        <label for="studentId">Students</label>
        <select x-model="studentId" class="form-control" id="studentId" name="studentId" asp-items="Model.StudentsFilter"></select>
      </p>
    }
    <p>
      <label asp-for="Command.GroupId">
        Milestone
        <sup>or <a asp-page="/StudentGroups/Details/AddMilestone" asp-route-id="@Model.Command?.GroupId" asp-route-returnUrl="/Progress/QuickAdd?groupId=@Model.Command?.GroupId">add a new one</a></sup>
      </label>
      <select class="form-control" asp-for="Command.MilestoneId" asp-items="Model.Milestones"></select>
    </p>

    <section>
      <h2>Students</h2>

      <ul class="students">
        @foreach (var (student, index) in Model.Students.WithIndex())
        {
          <li x-show="!studentId || studentId === '@student.Id'" class="student card">
            <img class="avatar rounded-circle" src="@(student.AvatarPath != null ? $"/media/{student.AvatarPath}" : "/images/avatar-placeholder.png")" width="50" height="50" alt="@student.Name"/>
            <div class="info">
              <input type="hidden" name="Command.Students[@index].StudentId" value="@student.Id"/>
              <div>@student.Name</div>
              <div class="text-muted">@student.ProgressUpdates.Count() notes</div>
            </div>
            <ul class="rating feelings">
              @foreach (Rating rating in Enum.GetValues<Rating>())
              {
                <li>
                  <input type="radio" class="btn-check"
                         name="Command.Students[@index].Rating"
                         id="student-@student.Id-@rating"
                         value="@rating"
                         checked="@(Model.Command?.Students[index].Rating == rating)"/>
                  <label class="btn btn-outline-dark" for="student-@student.Id-@rating">@rating.ToFriendlyString()</label>
                </li>
              }
            </ul>
            <div class="comment">
              <textarea class="form-control" placeholder="Comment" name="Command.Students[@index].Comment">@Model.Command?.Students[index].Comment</textarea>
            </div>
          </li>
        }
      </ul>
    </section>
    <input class="btn btn-primary position-fixed mb-3 bottom-0 end-0 me-3 d-block floating" type="submit" value="💾"/>
  </form>
}

@section Scripts {
  <script>
    const selects = document.querySelectorAll("#groupForm #groupId");
    selects.forEach(select => {
      select.addEventListener("change", (event) => {
        event.target.form.submit();
      });
    });
  </script>
}