@using System.Web
@using Microsoft.AspNetCore.Routing
@inject Microsoft.AspNetCore.Antiforgery.IAntiforgery Antiforgery
@inject LinkGenerator LinkGen

<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="utf-8"/>
    <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
    <title>@ViewData["Title"] - Student Progress</title>
    <link rel="stylesheet" href="~/css/base.css"/>
    @await RenderSectionAsync("Styles", required: false)

    <script defer src="~/lib/htmx/htmx.min.js"></script>

    <mini-profiler/>
</head>

<body hx-boost="true" hx-headers='{"X-XSRF-TOKEN": "@Antiforgery.GetAndStoreTokens(Context).RequestToken"}'>
@if (User.IsFullyAuthenticated())
{
    <header>
        @{
            var currentPage = (string?)ViewContext.RouteData.Values["page"];
            string TryHighlight(string page)
            {
                return currentPage == page ? "-highlight" : "";
            }
        }

        <nav class="nav-main">
            <ul class="menu">
                <li>
                    <a class="link" asp-page="/Adventures/Index">
                        <div class="border @(TryHighlight("/Adventures/Index"))"></div>
                        <img class="icon" src="images/adventures.png" alt="adventures">
                    </a>
                </li>
            </ul>
            <div class="search">
                <input id="search" name="q" type="search" class="field" placeholder="search student.."
                       autocomplete="off" hx-get="@LinkGen.GetPathByPage("/People/Search")"
                       hx-target="#searchResults"
                       hx-trigger="search, keyup changed delay:400ms"
                       hx-swap="swap:200ms settle:200ms">
                <div id="searchResults" class="results pop-in pop-out"></div>
            </div>

            <ul class="menu">
                <li>
                    <a class="link" asp-page="/Settings/Index">
                        <div class="border"></div>
                        <img class="icon @(TryHighlight("/Settings/Index"))" src="images/settings.png" alt="settings">
                    </a>
                </li>
            </ul>
        </nav>
    </header>
}
<main role="main" class="center">
    @RenderBody()
</main>

<footer class="border-top footer text-muted">
    <div class="container">
        &copy; 2021 - 2023 - Student Progress - <a asp-area="" asp-page="/Privacy">Privacy</a>
    </div>
</footer>

<script>
    window.isConfirmationPopupDisabled = false;
    window.applicationBaseUrl = @Html.Raw(HttpUtility.JavaScriptStringEncode(Url.Content("~/"), true));
</script>

@await RenderSectionAsync("Scripts", required: false)
</body>

</html>