@using System.Web
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"] - Student Progress</title>
    @*<link rel="stylesheet" href="~/css/site.css"/>*@
    <partial name="_StylePartial" model="@("site")" />
    @await RenderSectionAsync("Styles", required: false)
</head>
<body>
    <mini-profiler />
    <header>
        <nav nav class="navbar is-primary" role="navigation" aria-label="main navigation">
            <div class="navbar-brand">
                <a asp-page="/progress/quickadd" class="navbar-item quick-add"><svg-inject src="lib/bootstrap-icons/clipboard2-plus.svg"></svg-inject></a>
                <a class="navbar-item" asp-area="" asp-page="/Index">Progress</a>

                <div id="searchComponent" x-data="initSearchController()" class="navbar-item" autocomplete="off">
                    <input id="search" type="text" class="input is-small" placeholder="search student.."
                           x-on:input.debounce="search"
                           autocomplete="off">
                    <div x-show="!!searchResults.length" id="search-results" class="card" style="z-index: 1">
                        <div class="card-content">
                            <template x-for="student in searchResults" :key="student">
                                <div class="list-group-item list-group-item-action">
                                    <div class="d-flex">
                                        <div class="align-self-center">
                                            <img x-show="student.avatarPath" x-bind:src="'/media/' + student.avatarPath" x-bind:alt="student.name" width="50" height="50">
                                            <img x-show="!student.avatarPath" src="/images/avatar-placeholder.png" x-bind:alt="student.name" width="50" height="50">
                                        </div>
                                        <div class="ms-2">
                                            <p x-text="student.name"></p>
                                            <template x-for="group in student.groups" :key="group">
                                                <p class="d-flex align-items-center">
                                                    <a class="btn btn-link ps-0" x-text="group.name" x-bind:href="`${window.applicationBaseUrl}Progress/Summary?groupId=${group.id}&studentId=${student.id}`"></a>
                                                    <a class="btn btn-link d-flex justify-content-center" x-bind:href="`${window.applicationBaseUrl}Progress/CreateEdit?groupId=${group.id}&studentId=${student.id}`">
                                                        <svg-inject src="lib/bootstrap-icons/chat-square-quote.svg"></svg-inject>
                                                    </a>
                                                </p>
                                            </template>
                                        </div>
                                    </div>
                                </div>
                            </template>
                        </div>
                    </div>
                </div>

                <a role="button" class="navbar-burger" aria-label="menu" aria-expanded="false" data-target="navbarBasicExample">
                    <span aria-hidden="true"></span>
                    <span aria-hidden="true"></span>
                    <span aria-hidden="true"></span>
                </a>
            </div>
            <div class="navbar-menu">
                <div class="navbar-start">
                    <a class="navbar-item" asp-area="" asp-page="/StudentGroups/Index">Groups</a>
                    <a class="navbar-item" asp-area="" asp-page="/Settings/Index">Settings</a>
                </div>

                <div class="navbar-end">
                    @if (User.Identity?.IsAuthenticated ?? false)
                    {
                        <a class="navbar-item" asp-page="/Logout">Log out</a>
                    }
                </div>
            </div>

        </nav>
    </header>
    <main role="main" class="pb-3 container">
        @RenderBody()
    </main>

    <footer class="border-top footer text-muted">
        <div class="container">
            &copy; 2021 - Student Progress - <a asp-area="" asp-page="/Privacy">Privacy</a>
        </div>
    </footer>

    <script src="~/lib/alpinejs/alpine.min.js"></script>
    <script src="~/lib/popper/popper.min.js"></script>
    <environment include="Development">
        <script src="http://localhost:5173/@@vite/client" type="module"></script>
    </environment>
    <partial name="_ScriptPartial" model="@("site")" />
    <script>
        window.isConfirmationPopupDisabled = false;
        window.applicationBaseUrl = @Html.Raw(HttpUtility.JavaScriptStringEncode(Url.Content("~/"), true));
    </script>
    <script src="~/js/site.js" asp-append-version="true"></script>
    <script src="~/js/search.js" asp-append-version="true"></script>

    @await RenderSectionAsync("Scripts", required: false)
</body>
</html>