@using System.Web
@using Microsoft.AspNetCore.Routing
@inject Microsoft.AspNetCore.Antiforgery.IAntiforgery Antiforgery
@inject LinkGenerator LinkGen

<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="utf-8"/>
    <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
    <title>@ViewData["Title"] - Student Progress</title>
    <link rel="stylesheet" href="~/css/base.css"/>
    @await RenderSectionAsync("Styles", required: false)

    <script defer src="~/lib/htmx/htmx.min.js"></script>
    <script defer src="https://cdn.jsdelivr.net/npm/alpinejs@3.13.2/dist/cdn.min.js" integrity="sha384-tdcclI3qSCW7QMlm1wTf5aYctcwpxNqszsU+BJCA7HfXmWAxuNPBqWmJrnmZ4er7" crossorigin="anonymous"></script>

    @* <mini-profiler/> *@
</head>

<body hx-boost="true" hx-headers='{"X-XSRF-TOKEN": "@Antiforgery.GetAndStoreTokens(Context).RequestToken"}'>
@if (User.IsFullyAuthenticated())
{
    <header>
        @{
            var currentPage = (string?)ViewContext.RouteData.Values["page"];

            string TryHighlight(string page, string @class)
            {
                return currentPage == page ? @class : "";
            }
        }

        <nav class="nav">
            <ul class="nav__menu">
                <li>
                    <a class="image-link" asp-page="/Adventures/Index">
                        <div class="image-link__border @(TryHighlight("/Adventures/Index", "image-link__border--highlight"))"></div>
                        <img class="image-link__icon" src="~/images/001-map.png" alt="adventures">
                    </a>
                </li>
            </ul>
            <div class="nav__search">
                <input id="search" name="q" type="search" class="nav__search-field" placeholder="search student.."
                       autocomplete="off" hx-get="@LinkGen.GetPathByPage("/People/Search")"
                       hx-target="#searchResults"
                       hx-trigger="search, keyup changed delay:400ms"
                       hx-swap="swap:200ms settle:200ms">
                <div id="searchResults" class="nav__search-results nav__search-results--entering nav__search-results--leaving"></div>
            </div>

            <ul class="menu">
                <li>
                    <a class="image-link" asp-page="/Settings/Index">
                        <div class="image-link__border @(TryHighlight("/Settings/Index", "image-link__border--highlight"))"></div>
                        <img class="image-link__icon" src="~/images/048-explorer.png" alt="settings">
                    </a>
                </li>
            </ul>
        </nav>
    </header>
}
<main role="main" class="center">
    @RenderBody()
</main>

<footer class="border-top footer text-muted">
    <div class="container">
        &copy; 2021 - 2023 - Student Progress - <a asp-area="" asp-page="/Privacy">Privacy</a>
    </div>
    <div>Icons made by <a href="https://www.flaticon.com/authors/maxicons" title="max.icons">max.icons</a> from <a href="https://www.flaticon.com/" title="Flaticon">www.flaticon.com</a></div>
</footer>

<script>
    window.isConfirmationPopupDisabled = false;
    window.applicationBaseUrl = @Html.Raw(HttpUtility.JavaScriptStringEncode(Url.Content("~/"), true));
</script>

@await RenderSectionAsync("Scripts", required: false)
</body>

</html>