@model Adventure.Index

<section id="people">
    <h3 class="heading">People</h3>
    <ul class="reel" x-ref="reel" x-data="{ selected: @(Model.Person?.Id.ToString() ?? "null") }">
        @foreach (var person in Model.Adventure.People.OrderBy(p => p.FirstName))
        {
            <li class='reel__item' style="background-image: url('@person.ImageSource');"
                x-data="{ 
                id: @person.Id,
                hasFocus: false,
                showOptions: false,
                showIcon: false 
            }" x-init="if(id !== selected) return;
                    $refs.reel.scrollLeft = $el.offsetLeft - ($el.offsetWidth / 2);
                     " :class="selected === id && 'reel__item--selected'" @@click="selected = id"
                @@mouseenter="hasFocus = showIcon = true"
                @@mouseleave="hasFocus = false; if(showOptions === false) showIcon = false" hx-trigger="click"
                hx-get="@Url.Page("Index", new { id = Model.Adventure.Id, personId = person.Id, questLineId = Model.QuestLineId })" hx-target="body"
                hx-push-url="true">
                <svg-inject class="loading htmx-indicator" src="images/puff.svg"></svg-inject>

                <div class="row row--justify-between reel__content">
                    <div class="reel__person-name">@person.FirstName</div>
                </div>

                <div class="reel__options">
                    <div class="image-link image-link--small"
                         :class="showIcon ? 'image-link--visible' : 'image-link--hidden'" x-cloak x-transition
                         @@click.stop="showOptions = !showOptions"
                         @@click.outside="showOptions = false; if(!hasFocus) showIcon = false;">
                        <img class="image-link__icon" src="~/images/037-binoculars-1.png" alt="adventure options">
                        <div class="image-link__border image-link__border--with-background" :class="showOptions && 'image-link__border--highlight'"></div>
                        <div id="adventure-@(person.Id)-options"
                             class="image-link__content fade-me-in fade-me-out"
                             :class="showOptions && 'image-link__content--visible'">
                            <ul>
                                <li>
                                    <a class="link" href="#" hx-target="body"
                                       hx-confirm="You sure you want to remove this person from the adventure?"
                                       hx-delete="@Url.Page("Index", "RemovePerson", new { id = Model.Adventure.Id, personId = person.Id })">
                                        Delete
                                    </a>
                                </li>
                            </ul>
                        </div>
                    </div>
                </div>
            </li>
        }
    </ul>
</section>