@page "{id:int}"
@using StudentProgress.Web.Pages.Quest
@model StudentProgress.Web.Pages.Adventure.Index

@section Styles
{
    <link rel="stylesheet" href="~/css/adventure.css">
}

<div class="stack">
    <h2 class="heading">
        <span class="heading__highlight">@(Model.Adventure.Name)</span>'s adventure
    </h2>

    <nav class="mb-3">
        Jump to <a class="link" href="#people">Adventurers</a> / <a class="link" href="#">Quests</a> /
        <a class="link"
           href="#">
            Logs
        </a>
    </nav>

    <partial name="_People" model="Model"/>

    <section id="adventure" class="stack">
        <h3 class="heading">
            @if (Model.Person != null)
            {
                <span class="heading__highlight">@(Model.Person?.FirstName)'s</span>
            }
            @(" ")Quest log
        </h3>

        <section id="questLog" class="quest-log">
            <ol id="quest-lines" class="stack">
                @foreach (var questLine in Model.Adventure.QuestLines)
                {
                    <li id="questLine@(questLine.Id)" class="box box--no-border cluster">
                        <span class="stack__title">@questLine.Name</span>

                        <div class="image-link image-link--small image-link--hidden"
                             x-data="{ show: false }"
                             @@click="show = true"
                             @@click.outside="show = false"
                             @@adventure-created.document.debounce.500ms="show = false">
                            <div class="image-link__border" :class="show && 'image-link__border--highlight'">
                            </div>
                            <img src="~/images/014-maya-pyramid.png" class="image-link__icon" alt="actions">
                            <div id="actions" class="image-link__content fade-me-out fade-me-in" :class="show && 'image-link__content--visible'">
                                <ul>
                                    <li>
                                        <a class="link" hx-get="@Url.Page("/Quest/Create", new { QuestLineId = questLine.Id, PersonId = Model.Person?.Id })"
                                           hx-target="closest #questLine@(questLine.Id)"
                                           hx-swap="afterend"
                                           @@click.debounce.200ms="show = false">
                                            Add new quest
                                        </a>
                                    </li>
                                </ul>
                            </div>
                        </div>
                    </li>

                    @foreach (var quest in questLine.Quests)
                    {
                        <partial name="../Quest/_ListItem" model="new ListItemModel(Model.Adventure.Id, quest, Model.Person?.Id, Model.QuestId == quest.Id)"/>
                    }
                }
                
                <li class="quest-lines__quest-line">
                    <a class="link"
                       hx-get="@Url.Page("/QuestLine/Create", new { AdventureId = Model.Adventure.Id, personId = Model.Person?.Id })"
                       hx-target="this"
                       hx-swap="outerHTML">
                        Add new questline
                        <svg-inject class="loading htmx-indicator" src="images/puff.svg"></svg-inject>
                    </a>
                </li>
            </ol>

            <div id="questContainer"
                 hx-get="@Url.Page("/Quest/Index", new { Id = Model.QuestId, PersonId = Model.Person?.Id })"
                 hx-trigger="load"
                 hx-swap="innerHTML">
                <svg-inject class="loading htmx-indicator" src="images/puff.svg"></svg-inject>

                @* See /QuestLine/Index.cshtml  *@
            </div>
        </section>
    </section>
</div>