@page "{id:int}"
@using StudentProgress.Web.Pages.Quest
@using StudentProgress.Web.Pages.Shared
@model StudentProgress.Web.Pages.Adventure.Index

@section Styles
{
    <link rel="stylesheet" href="~/css/adventure.css">
}

<div class="stack">
    <h2 class="heading">
        <span class="heading__highlight">@(Model.Adventure.Name)</span>'s adventure
    </h2>

    <nav class="mb-3">
        Jump to <a class="link" href="#people">Adventurers</a> / <a class="link" href="#">Quests</a> /
        <a class="link"
           href="#">
            Logs
        </a>
    </nav>

    <partial name="_People" model="Model"/>

    <section id="adventure" class="stack">
        <h3 class="heading">
            @if (Model.Person != null)
            {
                <span class="heading__highlight">@(Model.Person?.FirstName)'s</span>
            }
            @(" ")Quest log
        </h3>

        <section id="questLog" class="quest-log">
            <div class="stack">
                @* TODO: refactor to it's own partial and reload on htmx event "progress-created" *@
                <partial name="../QuestLines/_List" model="new AdventurePartialModel<IEnumerable<Core.Models.QuestLine>>(Model.Adventure.QuestLines, Model.Adventure.Id, Model.QuestId, Model.Person?.Id)"/>

                <div class="box box--dashed-hover box--no-border cluster">
                    <a class="link"
                       hx-get="@Url.Page("/QuestLine/Create", new { AdventureId = Model.Adventure.Id, QuestId = Model.QuestId, PersonId = Model.Person?.Id })"
                       hx-target="this"
                       hx-swap="outerHTML">
                        Add new questline
                        <svg-inject class="loading htmx-indicator" src="images/puff.svg"></svg-inject>
                    </a>
                </div>
            </div>

            <div id="questContainer"
                 hx-get="@Url.Page("/Quest/Index", new { Id = Model.QuestId, PersonId = Model.Person?.Id })"
                 hx-trigger="load"
                 hx-swap="innerHTML">
                <svg-inject class="loading htmx-indicator" src="images/puff.svg"></svg-inject>

                @* See /QuestLine/Index.cshtml  *@
            </div>
        </section>
    </section>
</div>