@page "{id:int}"
@model StudentProgress.Web.Pages.Adventure.Index

@section Styles
{
    <link rel="stylesheet" href="~/css/adventure.css">
}

<div class="stack">
    <h2 class="heading">
        <span class="heading__highlight">@(Model.Adventure.Name)</span>'s adventure
    </h2>

    <nav class="mb-3">
        Jump to <a class="link" href="#people">Adventurers</a> / <a class="link" href="#">Quests</a> /
        <a class="link"
           href="#">
            Logs
        </a>
    </nav>

    <partial name="_People" model="Model"/>

    <section id="adventure">
        <h3 class="heading">
            @if (Model.Person != null)
            {
                <span class="heading__highlight">@(Model.Person?.FirstName)'s</span>
            }
            @(" ")Quest log
        </h3>

        <section id="questLog" class="quest-log">
            <ol id="quest-lines" class="quest-lines">
                @foreach (var questLine in Model.Adventure.QuestLines)
                {
                    <li>
                        <a class="quest-lines__quest-line @(questLine.Id.ToString() == Model.QuestLineId?.ToString() ? "quest-lines__quest-line--active" : "")"
                           asp-page="/Adventure/Index" asp-route-id="@Model.Adventure.Id" asp-route-personId="@Model.Person?.Id" asp-route-questLineId="@questLine.Id">
                            @questLine.Name
                        </a>
                    </li>
                }
                <li class="quest-lines__quest-line">
                    <a class="link"
                       hx-get="@Url.Page("/QuestLine/Create", new { AdventureId = Model.Adventure.Id, personId = Model.Person?.Id })"
                       hx-target="this"
                       hx-swap="outerHTML">
                        Add new questline
                        <svg-inject class="loading htmx-indicator" src="images/puff.svg"></svg-inject>
                    </a>
                </li>
            </ol>

            <div id="questLineContainer"
                 hx-get="@Url.Page("/QuestLine/Index", new { Id = Model.QuestLineId, PersonId = Model.Person?.Id })"
                 hx-trigger="load"
                 hx-swap="innerHTML">
                <svg-inject class="loading htmx-indicator" src="images/puff.svg"></svg-inject>

                @* See /QuestLine/Index.cshtml  *@
            </div>
        </section>
    </section>
</div>