@page
@model StudentProgress.Web.Pages.Canvas.Courses.Index

@{
  ViewData["Title"] = "Canvas semesters";
}

<h1>Courses from Canvas</h1>

<table>
  <tbody>
  @foreach (var course in Model.Courses)
{
  <tr data-testid="@course.Id">
      <td>@course.Id</td>
      <td>
        <a asp-page="/Canvas/Courses/Details" asp-route-id="@course.Id">@course.Name</a>
      </td>
      <td>@course.Term?.Name</td>
      <td>@course.Term?.StartAt</td>
      <td>@course.Term?.EndAt</td>
    </tr>
}
  </tbody>
</table>