@page
@model StudentProgress.Web.Pages.StudentGroups.Details.AddMilestone

@{
  ViewData["Title"] = "Add Milestone";
}

<h1>Add milestone to @Model.Group.Name</h1>
<hr />

<div class="row">
  <section class="col-sm-12 col-md-5">
    <h2>New milestone</h2>
    <form method="post">
      <input type="hidden" asp-for="Milestone.GroupId" value="@Model.Group.Id" />
      <div asp-validation-summary="All"></div>
      @Html.FormBlock(m => m.Milestone.LearningOutcome, inputModifier: _ => _.Attr("autofocus"))
      @Html.FormBlock(m => m.Milestone.Artefact)
      <div>
        <button type="submit" class="btn btn-outline-primary" asp-page-handler="AndAddAnother">Create and add another</button>
        <button type="submit" class="btn btn-primary">Create</button>
      </div>
    </form>
  </section>

  @if (Model.OtherGroups.Any())
  {
    <div class="col-sm-12 col-md-2 text-center py-5">OR</div>

    <section class="col-sm-12 col-md-5">
      <h2>Copy all milestones from another group</h2>
      <form method="post" asp-page-handler="CopyFromGroup">
        <input type="hidden" asp-for="CopyCommand.ToGroupId" value="@Model.Group.Id" />
        <div class="mb-3">
          <select class="form-control" asp-for="CopyCommand.FromGroupId" asp-items="Model.OtherGroups.Select(g => new SelectListItem(g.Name, g.Id.ToString()))"></select>
        </div>
        <div>
          <button type="submit" class="btn btn-primary">Copy</button>
        </div>
      </form>
    </section>
  }
</div>

@if (Model.Group.Milestones.Any())
{
  <section>
    <h2>Previously added milestones</h2>
    <ul>
      @foreach (var milestone in Model.Group.Milestones)
      {
        <li>
          @milestone.Artefact
        </li>
      }
    </ul>
  </section>
}