@page
@model StudentProgress.Web.Pages.StudentGroups.Details.RemoveStudent

<h1>Remove @Model.Student.Name from @Model.Group.Name?</h1>
<p class="text-danger">Removing a student from a group will permanently delete all progress of the student in this group</p>

<form method="post">
  <input type="hidden" asp-for="Command.StudentId" value="@Model.Student.Id"/>
  <input type="hidden" asp-for="Command.GroupId" value="@Model.Group.Id"/>
  <div class="d-flex">
    <input type="submit" class="btn btn-danger" value="Yes"/>
    <a type="submit" class="btn btn-outline-secondary ms-3" asp-page="./Index" asp-route-id="@Model.Group.Id">No</a>
  </div>
</form>